@using BugTracker.Models
@using PagedList.EntityFramework
@model ProjectViewModel
@using PagedList.Mvc

@*Page @(Model.PageData.PageCount < Model.PageData.PageNumber ? 0 : Model.PageData.PageNumber) of @Model.PageData.PageCount
<div id="pager">
    @Html.PagedListPager(Model.PageData, Page => Url.Action("OpenProject", new { Page }))
</div>
@if (Model.PageData.TotalItemCount > 0)
{
    <table class="table table-hover shadow-lg" id="content">
        <thead>
            <tr class="d-flex">
                <th class="col-10 headerClass align-self-stretch" scope="col"></th>
                <th class="col-1 headerClass align-self-stretch" scope="col">Date Created</th>
                <th class="col-1 headerClass align-self-stretch" scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var project in Model.PageData)
            {


                using (Html.BeginForm("DeleteProject", "Projects", new { id = project.ID }, FormMethod.Post, new { @class= "delete" }))
                {
                    <tr class="d-flex" id="cells">
                        <td class="col-10">
                            @Html.ActionLink(project.ProjectName, "Project", "Projects", new { id = project.ID }, new
                       { style = "text-decoration:none; color:black;", @class = "blockContainer" })
                        </td>
                        <td class="col-1">

                            <i>@project.DateCreated.Date.ToShortDateString()</i>
                        </td>
                        <td class="col-1">
                            <a href="@Url.Action("DeleteProject", new { id = project.ID })" id="deletelink"><i class="far fa-trash-alt fa-lg blockContainer delete"></i></a>
                            <button class="btn p-0" type="submit" value="Delete">
                            <i class="far fa-trash-alt fa-lg blockContainer"></i>
                            </button>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
}*@



